<div class="sales-main">
  <div class="sales-header">
      <div class="sale-page-title">
        <h1>Sale Orders</h1>
      </div>
      <div class="sale-page-search-zone">
        <form class="" action="<%= NavSaleOrders::GET_WITH_FILTERS %>" method="get">
          <input class="input-number-200" type="number" value="<%= @filters['slo_id'] %>" name="slo_id" placeholder="N°Sale Order"/>
          <select class="select-150" name="slo_cus_id" id="slo_cus_id">
              <option value="">Customers</option>
              <% @customers.each do |customer| %>
                <option value="<%= customer.cus_id %>"
                  <% if(@filters['slo_cus_id'] == customer.cus_id)%>
                    selected
                  <% end %>
                  >
                  <%= customer.cus_name.capitalize() %>
              </option>
              <% end %>
          </select>

          <select class="select-150" name="slo_status" id="slo_status">
              <option value="">Status</option>
              <% SaleOrder.status_all.each do |status, status_label| %>
                <option value="<%= status %>"
                  <% if(@filters['slo_status'] == status)%>
                    selected
                  <% end %>
                  >
                  <%= status_label.capitalize() %>
              </option>
              <% end %>
          </select>

          <select class="select-150" name="order_by" id="order_by">
              <option value="">Order By</option>
              <% SaleOrder.query_orderby.each do |orderby_key, orderby_value| %>
                <option value="<%= orderby_key %>"
                  <% if(@filters['order_by'] == orderby_key)%>
                    selected
                  <% end %>
                  >
                  <%= orderby_value %>
              </option>
              <% end %>
          </select>

          <input type="submit" value="GO !" />
        </form>
      </div>
      <div class="div-a-create-sale">
        <a href="<%= NavSaleOrders::GET_NEW %>">Create Sale Order</a>
      </div>
    </div>
    <!-- Sale list -->
    <div class="div-table-sales">
      <table class="table-sales">
        <thead>
          <th>N°</th>
          <th>Status</th>
          <th>Date</th>
          <th>Customer</th>
          <th>Total Amount</th>
          <th>Nb. Rows</th>
          <th>Nb. Items</th>
          <th>View</th>
          <th>Modify</th>
          <th class="th-sale-delete">Delete</th>
        </thead>
        <tbody>
          <% @sale_orders.each do |sale_order|  %>
            <tr>
              <td class="td-number"><%= sale_order.slo_id %></td>
              <td><%= sale_order.slo_status_label() %></td>
              <td><%= sale_order.slo_date %></td>
              <td>
                  <a href="<%= NavCustomers.nav_get_with_art_name(sale_order.customer.cus_name, true) %>">
                    <%= sale_order.customer.cus_name.capitalize %>
                  </a>
              </td>
              <td class="td-number">£<%= sale_order.slo_total_price              %></td>
              <td class="td-number"><%= sale_order.nb_rows()                   %></td>
              <td class="td-number"><%= sale_order.total_quantity()             %></td>
              <td class="td-actions">
                  <a href="<%= NavSaleOrders.nav_get_view_by_id(sale_order.slo_id) %>">View</a>
              </td>
              <td class="td-actions">
                  <% if(sale_order.can_be_modify()) %>
                    <a href="<%= NavSaleOrders.nav_get_edit_by_id(sale_order.slo_id) %>">Modify</a>
                  <% end %>
              </td>
              <td class="td-actions">
                  <% if(sale_order.can_be_delete()) %>
                    <form class="" action="<%= NavSaleOrders.nav_post_delete_by_id(sale_order.slo_id) %>" method="post">
                        <input type="submit" value="Delete" />
                    </form>
                  <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
