<div class="sales-main">
  <!-- Purchase Order Header -->
    <div class="flex-column">
      <div class="flex-row">
        <div class="sales-header sale-header-checkout-zone">
          <h1><%= @form_title %>
            <% if(@sale_order.slo_id() > 0) %>
              n°<%= @sale_order.slo_id() %>, <%= @sale_order.slo_date() %>
            <% end %>
          </h1>
          <% if(@sale_order.slo_id() > 0) %>
            <form class="" action="<%= NavSaleOrders.nav_post_checkout_by_id(@sale_order.slo_id) %>" method="post">
                <input type="submit" value="<%= @form_submit_label %>" />
            </form>
          <% end %>
        </div>
        <div class="div-total-amount">
          <div class="flex-row">
            <div class="div-150">Nb Rows</div>
            <div class="div-100 div-number"><%= @sale_order.nb_rows() %></div>
          </div>
          <div class="flex-row">
            <div class="div-150">Total Quantity</div>
            <div class="div-100 div-number"><%= @sale_order.total_quantity() %></div>
          </div>
          <div class="flex-row">
            <div class="div-150">Total Amount</div>
            <div class="div-100 div-number">£<%= @sale_order.slo_total_price %></div>
          </div>
        </div>
      </div>

    </div>

  <!-- Seraching bar -->
  <div>
    <form  action="<%= @form_search_action %>" method="get">
        <input class="input-text-400" type="text" value="<%= @album_search %>" name="album_search" placeholder="Search for title album or Artist's name" />
        <input type="submit" value="Search" />
    </form>
  </div>

  <!-- List of items -->
  <form class="" action="<%= NavSaleOrders.nav_post_add_items(@sale_order.slo_id) %>" method="post">
    <div class="flex-row-end">
      <h3 class="label-h3">Select the customer :</h3>
      <select class="select-200" name="slo_cus_id" id="slo_cus_id" required>
          <option value="">Customers</option>
          <% @customers.each do |customer| %>
            <option value="<%= customer.cus_id %>"
              <% if(@sale_order.slo_cus_id == customer.cus_id)%>
                selected
              <% end %>
            >
              <%= customer.cus_name.capitalize() %>
          </option>
          <% end %>
      </select>
      <input type="submit" value="Add the items to the cart" />
    </div>
    <div class="div-table-cart">
      <table class="table-purchases-cart">
        <thead>
          <th class="th-album-img-small-xxs">Cover</th>
          <th>Album</th>
          <th>Artist</th>
          <th>Genre</th>
          <th>Unit Sale Price</th>
          <th>Quantity</th>
          <th>Stock</th>
        </thead>
        <tbody>
          <% @sale_order.sale_items.each do |sale_item|  %>
            <tr>
              <td><img class="album-img-small-xxs" src="<%= sale_item.album.alb_image_path %>" alt="<%= sale_item.album.alb_title %>"></td>
              <td><%= sale_item.album.alb_title %></td>
              <td><%= sale_item.artist.art_name %></td>
              <td><%= sale_item.genre.gen_name  %></td>
              <td class="td-number">£<%= sale_item.album.alb_price %></td>
              <td class="td-number">
                <input class="input-number-100" type="number" step="1" min="0"
                 name="<%= "qty_alb_id_#{sale_item.album.alb_id}" %>"
                 value="<%= sale_item.sli_qty %>" required/>
              </td>
              <td class="td-number">
                <div class="div-80 div-number
                <%= " stock-low"    if(sale_item.album.stock_level()    == "low") %>
                <%= " stock-medium" if(sale_item.album.stock_level()    == "medium") %>
                <%= " stock-high"   if(sale_item.album.stock_level()   == "high") %>
                ">
                <%= sale_item.album.alb_qty_available %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>


    <h3 class="label-h3">Add new albums to your cart from the list below : </h3>
    <div class="div-table-albums-not-in-cart">
      <table class="table-albums-not-in-cart">
        <thead>
          <th>Cover</th>
          <th>Album</th>
          <th>Artist</th>
          <th>Genre</th>
          <th>Unit Sale Price</th>
          <th>Quantity</th>
          <th>Stock</th>
        </thead>
        <tbody>
          <% @sale_order.sale_items_not_added.each do |sale_item|  %>
            <tr>
              <td><image class="album-img-small-xxs" src="<%= sale_item.album.alb_image_path %>" alt="<%= sale_item.album.alb_title %>"></td>
              <td><%= sale_item.album.alb_title  %></td>
              <td><%= sale_item.artist.art_name %></td>
              <td><%= sale_item.genre.gen_name  %></td>
              <td class="td-number">£<%= sale_item.album.alb_price %></td>
              <td class="td-number">
                <input class="input-number-100" type="number" step="1" min="0"
                 name="<%= "qty_alb_id_#{sale_item.album.alb_id}" %>"
                 value="<%= sale_item.sli_qty %>" required/>
              </td>
              <td class="td-number">
                <div class="div-80 div-number
                <%= " stock-low"    if(sale_item.album.stock_level()    == "low") %>
                <%= " stock-medium" if(sale_item.album.stock_level() == "medium") %>
                <%= " stock-high"   if(sale_item.album.stock_level()   == "high") %>
                ">
                <%= sale_item.album.alb_qty_available %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </form>
</div>
