<div class="albums-main">
  <!-- Albums header -->
  <div class="albums-header">
      <div class="album-page-title">
        <h1>Albums</h1>
      </div>
      <div class="album-page-search-zone">
        <form action="<%= NavAlbums::GET_WITH_FILTERS %>" method="get">
          <input class="input-text-200" type="text" name="alb_title" value="<%= @filters["alb_title"] %>" placeholder="Title">
          <input class="input-text-200" type="text" name="art_name"  value="<%= @filters["art_name"] %>"  placeholder="Artist">
          <select class="select-150" name="alb_gen_id" id="alb_gen_id">
              <option value="">Genres</option>
              <% @genres.each do |genre| %>
                <option value="<%= genre.gen_id %>"
                  <% if(@filters["alb_gen_id"] == genre.gen_id)%>
                    selected
                  <% end %>
                >
                  <%= genre.gen_name.capitalize() %>
              </option>
              <% end %>
          </select>

          <select class="select-150" name="stock_level" id="stock_level">
              <option value="">Stock Level</option>
              <% Album.all_stock_level().each do |stock_level| %>
                <option value="<%= stock_level %>"
                  <% if(@filters["stock_level"] == stock_level)%>
                    selected
                  <% end %>
                  >
                  <%= stock_level.capitalize() %>
              </option>
              <% end %>
          </select>

          <select name="display_option" id="display_option" class="select-80">
            <% ViewHelper.get_display_options_for_albums().each do |option_display| %>
              <option value="<%= option_display["display_value"] %>"
                <% if @filters["display_option"] == option_display["display_value"] %>
                  selected
                <% end %>
                >
                    <%= option_display["display_label"] %>
              </option>
            <% end %>
          </select>

          <input type="submit" name="" value="GO !">
        </form>
      </div>
      <div class="div-a-create-album">
        <a href="<%= NavAlbums::GET_NEW %>">Create a new Album</a>
      </div>
  </div>
  <!-- Albums list -->
  <% if    (@filters["display_option"] == "list") %>
    <%= erb(:"albums/display_list") %>
  <% elsif (@filters["display_option"] == "grid")%>
    <%= erb(:"albums/display_grid") %>
  <% else %>
    <%= erb(:"albums/display_list") %>
  <% end %>
</div>
