<div class="albums-main">
  <div class="albums-header">
     <div class="albums-page-title">
       <h1><%= @form_title %></h1>
     </div>
  </div>
  <div class="flex-row">
    <div>
      <image class="album-img-large-xxl" src="<%= @album.alb_image_path %>" alt="<%= @album.alb_title %>">
    </div>
    <div class="flex-column">
      <form action="<%= @form_action %>" method="post">
        <div>
            <label class="label-300" for="alb_art_id">Artist</label>
            <select class="select-300" name="alb_art_id" id="alb_art_id" required>
                <option value="">Artists</option>
                <% @artists.each do |artist| %>
                  <option value="<%= artist.art_id %>"
                    <% if(@album.alb_art_id == artist.art_id) %>
                      selected
                    <% end %>
                  >
                  <%= artist.art_name %>
                </option>
                <% end %>
            </select>
        </div>
        <div>
            <label class="label-300" for="alb_gen_id">Genre</label>
            <select class="select-300" name="alb_gen_id" id="alb_gen_id" required>
                <option value="">Genres</option>
                <% @genres.each do |genre| %>
                  <option value="<%= genre.gen_id %>"
                    <% if (@album.alb_gen_id == genre.gen_id) %>
                      selected
                    <% end %>
                  >
                  <%= genre.gen_name %>
                </option>
                <% end %>
            </select>
        </div>
        <div>
            <label class="label-300" for="alb_title">Title</label>
            <input class="input-text-300" type="text" name="alb_title" id="alb_title" value="<%= @album.alb_title %>" maxlength="50" placeholder="Title" required/>
        </div>
        <div>
            <label class="label-300" for="alb_qty_available">Quantity in stock</label>
            <input class="input-number-300" type="number" name="alb_qty_available" id="alb_qty_available" value="<%= @album.alb_qty_available %>" min="0" max="1000" step="1" placeholder="Quantity in stock" required/>
        </div>
        <div>
            <label class="label-300" for="alb_qty_min">Min. Stock</label>
            <input class="input-number-300" type="number" name="alb_qty_min" id="alb_qty_min" value="<%= @album.alb_qty_min %>" min="0" max="1000" step="1" placeholder="Min. Stock" required/>
        </div>
        <div>
            <label class="label-300" for="alb_qty_max">Max. Stock</label>
            <input class="input-number-300" type="number" name="alb_qty_max" id="alb_qty_max" value="<%= @album.alb_qty_max %>" min="0" max="1000" step="1" placeholder="Max. Stock" required/>
        </div>
        <div>
            <label class="label-300" for="alb_price">Sale Price per unit (£)</label>
            <input class="input-number-300" type="number" name="alb_price" id="alb_price" value="<%= @album.alb_price %>" min="0" max="1000" step="1" placeholder="Sale Price per unit" required/>
        </div>
        <div class="div-save-button">
          <input type="submit" value="<%= @form_submit_label %>" />
        </div>
      </form>
    </div>
<div>
