<div class="suppliers_main">
  <!-- Suppliers header -->
  <div class="suppliers_header">
      <div>
        <h1>Suppliers</h1>
      </div>
      <div>
        <form action="/mstore/suppliers/" method="get">
          <input type="text" name="sup_name" value="<%= @filters["sup_name"] %>">
          <input type="submit" name="" value="Search">
        </form>
      </div>
      <div>

      </div>
      <div>
        <a href="<%= NavSuppliers::GET_NEW %>">Create a new Supplier</a>
      </div>
  </div>
  <!-- Suppliers list -->
  <div>
      <table>
          <th>Name</th>
          <th>Purchases</th>
          <th>Modify</th>
          <th>Delete</th>
          <% @suppliers.each do |supplier| %>
            <tr>
              <td><%= supplier.sup_name %></td>
              <td><a href="">Purchases</a></td>
              <td>
                <a href="<%= NavSuppliers.nav_get_edit_by_id(supplier.sup_id) %>">Edit</a></td>
              <td>
                <form action="<%= NavSuppliers.nav_post_delete_by_id(supplier.sup_id) %>" method="POST">
                  <input type="submit" value="Delete" />
                </form>
            </tr>
          <% end %>
      </table>
  </div>
</div>
