<div class="purchases-main">
  <div class="purchases-header">
      <div class="purchase-page-title">
        <h1>Purchase Orders</h1>
      </div>
      <div class="purchase-page-search-zone">
        <form class="" action="<%= NavPurchaseOrders::GET_WITH_FILTERS %>" method="get">
          <input class="input-number-100" type="number" value="<%= @filters['pro_id'] %>" name="pro_id" placeholder="N°Purchase Order"/>
          <select class="select-150" name="pro_sup_id" id="pro_sup_id">
              <option value="">Suppliers</option>
              <% @suppliers.each do |supplier| %>
                <option value="<%= supplier.sup_id %>"
                  <% if(@filters['pro_sup_id'] == supplier.sup_id)%>
                    selected
                  <% end %>
                  >
                  <%= supplier.sup_name.capitalize() %>
              </option>
              <% end %>
          </select>

          <select class="select-150" name="pro_status" id="pro_status">
              <option value="">Status</option>
              <% PurchaseOrder.status_all.each do |status, status_label| %>
                <option value="<%= status %>"
                  <% if(@filters['pro_status'] == status)%>
                    selected
                  <% end %>
                  >
                  <%= status_label.capitalize() %>
              </option>
              <% end %>
          </select>

          <select class="select-200" name="order_by" id="order_by">
              <option value="">Order By</option>
              <% PurchaseOrder.query_orderby.each do |orderby_key, orderby_value| %>
                <option value="<%= orderby_key %>"
                  <% if(@filters['order_by'] == orderby_key)%>
                    selected
                  <% end %>
                  >
                  <%= orderby_value %>
              </option>
              <% end %>
          </select>

          <input type="submit" value="GO !" />
        </form>
      </div>
      <div class="div-a-create-purchase">
        <a href="<%= NavPurchaseOrders::GET_NEW %>">Create Purchase Order</a>
      </div>
  </div>
  <!-- Purchase list -->
  <div class="div-table-purchases">
    <table>
      <thead>
        <th>N°</th>
        <th>Status</th>
        <th>Date</th>
        <th>Supplier</th>
        <th>Total Amount</th>
        <th>Nb. Rows</th>
        <th>Nb. Items</th>
        <th>View</th>
        <th>Modify</th>
        <th>Delete</th>
      </thead>
      <tbody>
        <% @purchase_orders.each do |purchase_order|  %>
          <tr>
            <td class="td-number"><%= purchase_order.pro_id                       %></td>
            <td><%= purchase_order.pro_status_label()           %></td>
            <td><%= purchase_order.pro_date                     %></td>
            <td>
                <a href="<%= NavSuppliers.nav_get_with_art_name(purchase_order.supplier.sup_name, true) %>">
                  <%= purchase_order.supplier.sup_name.capitalize %>
                </a>
            </td>
            <td class="td-number">£<%= purchase_order.pro_total_price              %></td>
            <td class="td-number"><%= purchase_order.nb_rows()                   %></td>
            <td class="td-number"><%= purchase_order.total_quantity()             %></td>
            <td class="td-actions">
                <a href="<%= NavPurchaseOrders.nav_get_view_by_id(purchase_order.pro_id) %>">View</a>
            </td>
            <td class="td-actions">
                <% if(purchase_order.can_be_modify()) %>
                  <a href="<%= NavPurchaseOrders.nav_get_edit_by_id(purchase_order.pro_id) %>">Modify</a>
                <% end %>
            </td>
            <td class="td-actions">
                <% if(purchase_order.can_be_delete()) %>
                  <form class="" action="<%= NavPurchaseOrders.nav_post_delete_by_id(purchase_order.pro_id) %>" method="post">
                      <input type="submit" value="Delete" />
                  </form>
                <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
