<div class="genres_main">
  <!-- Genres header -->
  <div class="genres_header">
      <div>
        <h1>Genres</h1>
      </div>
      <div>
        <form action="<%= NavGenres::GET_WITH_FILTERS %>" method="get">
          <input type="text" name="gen_name" value="<%= @filters["gen_name"] %>">
          <input type="submit" name="" value="Search">
        </form>
      </div>
      <div>

      </div>
      <div>
        <a href="<%= NavGenres::GET_NEW %>">Create a new Genre</a>
      </div>
  </div>
  <!-- Genres list -->
  <div>
      <table>
          <th>Name</th>
          <th>Albums</th>
          <th>Modify</th>
          <th>Delete</th>
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.gen_name %></td>
              <td><a href="<%= NavAlbums.nav_get_with_gen_id(genre.gen_id) %>">Albums</a></td>
              <td>
                <a href="<%= NavGenres.nav_get_edit_by_id(genre.gen_id) %>">Modify</a></td>
              <td>
                <form action="<%= NavGenres.nav_post_delete_by_id(genre.gen_id) %>" method="POST">
                  <input type="submit" value="Delete" />
                </form>
            </tr>
          <% end %>
      </table>
  </div>
</div>
