<div class="artists-main">
  <!-- Artists header -->
  <div class="artists-header">
      <div class="artist-page-title">
        <h1>Artists</h1>
      </div>
      <div class="artist-page-search-zone">
        <form action="<%= NavArtists::GET_WITH_FILTERS %>" method="get">
            <input class="input-text-400" type="text" name="art_name" value="<%= @filters["art_name"] %>">
            <input class="search-button" type="submit" name="" value="Search">
        </form>
      </div>
      <div class="div-a-create-artist">
        <a href="<%= Artist.link_create_new_artist() %>">Create a new Artist</a>
      </div>
  </div>
  <!-- Artists list -->
  <div class="div-table-artists">
      <table class="table-artists">
        <thead>
          <tr>
            <th class="th-image-artist"></th>
            <th>Artists</th>
            <th>Albums</th>
            <th class="th-action">Modify</th>
            <th class="th-action">Delete</th>
          </tr>
         </thead>
          <tbody>
          <% @artists.each do |artist| %>
            <tr>
              <td><img class="artist-img" src="<%= artist.art_photo_path %>" alt="<%= artist.art_name %>"></td>
              <td><%= artist.art_name %></td>
              <td class="td-actions"><a href="<%= NavAlbums.nav_get_with_art_name(artist.art_name) %>">Albums</a></td>
              <td class="td-actions">
                <a href="<%= NavArtists.nav_get_edit_by_id(artist.art_id) %>">Modify</a></td>
              <td class="td-actions">
                <form action="<%= NavArtists.nav_post_delete_by_id(artist.art_id) %>" method="POST">
                  <input type="submit" value="Delete" />
                </form>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
