<div>
  <div>
    <h1><%= @form_title %></h1>
  </div>
  <div>
        <form action="<%= @form_action %>" method="post">
          <div>
              <label for="art_name">Name</label>
              <input id="art_name" name="art_name" type="text" maxlength="50" value="<%= @artist.art_name %>" placeholder="name" required/>
          </div>
          <div>
            <input type="submit" value="<%= @form_submit_label %>" />
          </div>
        </form>
        <div>
          <image class="artist_img_artist" src="<%= @artist.art_photo_path %>" alt="<%= @artist.art_name %>">
        </div>
  </div>
<div>
